*{
  margin: 0;
  padding: 0;
}

.apresentacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20x;
  gap: 20px;
}

.apresentacao img{
  max-width: 40%;
  height: auto;
  border-radius: 10px;
}

.apresentacao h1{
  max-width: 55%;
}


body{
    height: 100vh;
    box-sizing:border-box;
    background-color: black;
    color: #F6F6F6;
    font-family: 'Courier New', Courier, monospace, ;
}

p{
  color: #F6F6F6;
}

.titulo-destaque{
  color:#22D4FD;
}

.titulo-blog {
  color: white;
  font-size: 18px; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


.texto-destaque {
  color: white;
  font-size: 18px; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.texto-destaque-2 {
  color:#22D4FD;
}

.urgente{
  color: red;
}

.github {
    background-color: #22D4FD;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
  }

  .linkedin {
    background-color: #22D4FD;
    color: black;
    font-family: 'Courier New', Courier, monospace; 
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
  }

  footer{
    background-color: black;
    color: white;
  }