@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.apresentacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% 15%;
}

.apresentacao img{
  max-width: 40%;
  height: auto;
  border-radius: 10px;
}

.apresentacao__conteudo{
  width: 615px;
  display:flex;
  flex-direction: column;
  gap: 40px;
}

body{
    height: 100vh;
    box-sizing:border-box;
    background-color: black;
    color: #F6F6F6;
}

p{
  color: #F6F6F6;
}

.titulo-destaque{
  color:#22D4FD;
}

.titulo-blog {
  color: white;
  font-size: 36px; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
  font-family: "Krona One", sans-serif;;
}


.texto-destaque {
  color: white;
  font-size: 24px; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
  font-family: "Montserrat", sans-serif;
}

.texto-destaque-2 {
  color:#22D4FD;
}

.urgente{
  color: red;
}

.apresentacao__links{
    display: flex;
    justify-content: center; /* Centraliza os botões no contêiner */
    gap: 20px; /* Espaçamento automático entre os botões */
}

.apresentacao__links__link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold; 
  }


  footer{
    background-color: black;
    color: white;
  }