*{
  margin: 0;
  padding: 0;
}

body{
    background-color: black;
    color: #F6F6F6;
    font-family: 'Courier New', Courier, monospace, ;
}

p{
  color: #F6F6F6;
}

.titulo-destaque{
  color:#22D4FD;
}

.titulo-blog {
  color: white;
  font-size: 18px; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


.texto-destaque {
  color: white;
  font-size: 18px; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.texto-destaque-2 {
  color:#22D4FD;
}

.github {
    background-color: #22D4FD;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
  }

  .linkedin {
    background-color: #22D4FD;
    color: black;
    font-family: 'Courier New', Courier, monospace; 
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
  }

  footer{
    background-color: black;
    color: white;
  }
/* Estilo opcional para alinhamento */
main {
    text-align: center; /* Centraliza o conteúdo */
}